.rightprofilepic {
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 100px;
}

.rightfullname {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.rightonlinestatus {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100px;
    background-color: #22c55e;
}

.rightbio {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

.profilediv {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.75rem;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
}

.RightMaindiv {
    background-color: rgba(129, 133, 178, 0.1);
    color: white;
    width: 100%;
    position: relative;
    overflow-y: scroll;
}

.horiline {
    border: 1px solid #ffffff50;
    margin-top: 16px;
    margin-bottom: 16px;
}

.mediadiv {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.75rem;
}


.Medialayoutdiv {
    margin-top: 0.5rem;
    max-height: 200px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    opacity: 0.8;
}

.mediashowdiv
{
    cursor: pointer;
    border-radius: 10px;
}



.mediaImg
{
    width: 100%;  
      height: 100%;
  border-radius: 0.375rem;
}


.Logoutbutton
{
  position: absolute;
  bottom: 1.25rem; 
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right, #c084fc, #7c3aed);
  color: white;
  border: none;
  font-size: 0.875rem;
  font-weight: 300; 
  padding: 0.5rem 5rem; 
  border-radius: 9999px; 
  cursor: pointer;
}




@media (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }
}